<!DOCTYPE html>
<html>
<head>
	<title>add field</title>
</head>
<body>

<form action="<?php echo site_url('profiles/Add_Post') ?>" method="post">
	<div>
		<label>ID</label><input type="text" name="id"/>
		<label>nickname</label><input type="text" name="nickname"/>
		<label>avatar</label><input type="text" name="avatar"/>
		<label>age</label><input type="text" name="age"/>
		<label>sex</label><input type="text" name="sex"/>
		<label>memo</label><input type="text" name="memo"/>

		<label>&nbsp;&nbsp;</label><input type="submit" name="btn" value="Add"/>

	</div>
</form>

</body>
</html>
